<section class="pb-5">
    <div class="pt-2">
        <h1 class="mt-3 text-center text-light text-pixel rounded" [ngClass]="{'big-text': !isMobile, 'big-text-sm': isMobile}">{{appName | uppercase}}</h1>
    </div>

    <div class="fade-in px-2" *ngIf="qtdAnswers < 21; else winner">
        <div>
            <h1 class="text-center text-light title-text opacity-85">Prove que descobriu a regra:</h1>
        </div>
    
        <div class="pt-3 text-center text-light opacity-85">
            <h1>{{ textoPergunta }}</h1>
        </div>
    
        <div>
            <div class="d-flex justify-content-between mt-3" [ngClass]="{'big-text-sm-mobile': !isMobile}">
                <button (click)="tryAnswer(false)" class="bg-danger shadow py-2 px-4 rounded-pill border-0 text-light w-50 me-3 fw-bold" type="submit">NÃO PASSA</button>
                <button (click)="tryAnswer(true)" class="bg-success shadow py-2 px-4 rounded-pill border-0 text-light w-50 fw-bold" type="submit">PASSA</button>
            </div>
        </div>        
    
        <div class="pt-5 text-center text-light opacity-50">
            <h1>{{ qtdAnswers }}/20</h1>
        </div>
    </div>

    <ng-template #winner>
        <div class="fade-in px-2">
            <div class="d-flex justify-content-center mb-3">
                <img src="https://media.tenor.com/FgaSQljaZVwAAAAd/dance-dog.gif"/>
            </div>

            <h1 class="text-center text-light title-text opacity-85">Parece que você realmente descobriu a regra do jogo!</h1>
        
            <p class="mt-3 text-center text-light opacity-75" [ngClass]="{'fs-5': !isMobile}">A regra para este jogo é bem simples. Sempre que uma palavra tiver acentos ela passa pelo túnel invisível. Dessa forma, Bal<b>ã</b>o, L<b>á</b>pis, e Buqu<b>ê</b> passam pelo túnel.</p>
        
            <div class="d-flex justify-content-center">
                <button class=" bg-dark text-light mt-3 py-2 px-5 rounded-pill border-0 me-3" [ngClass]="{'w-100': isMobile}" (click)="back()"> Voltar </button>
                <button class=" bg-success text-light mt-3 p-2 rounded-circle border-0" (click)="share()"><i class="bi bi-share-fill px-1"></i></button>
            </div>
        </div>
    </ng-template>
</section>