/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap-icons/font/bootstrap-icons.css");
@import "../node_modules/bootstrap/scss/bootstrap";
@import '@sweetalert2/theme-dark/dark.scss';

@font-face {
    font-family: 'Rubik Pixels';
    src: url('./assets/fonts/rubik-pixels-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/nunito-variable-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dyna Puff';
    src: url('./assets/fonts/dyna-puff-variable-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    margin: 0;
    padding: 0;
    background: #101111 repeat-y !important;
    z-index: 1;
}

.fade-in {
    -webkit-animation: fadein 500ms; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 500ms; /* Firefox < 16 */
        -ms-animation: fadein 500ms; /* Internet Explorer */
         -o-animation: fadein 500ms; /* Opera < 12.1 */
            animation: fadein 500ms;
}


.fade-out {
    transition: ease-in-out;
    -webkit-transition: opacity 500ms ease-in-out;
    -moz-transition: opacity 500ms ease-in-out;
    -ms-transition: opacity 500ms ease-in-out;
    -o-transition: opacity 500ms ease-in-out;
     opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.pointer {
    cursor: pointer;
}

.card-game {
    transition: all 200ms;
    background-color: #202121;
    color: #f8f9fa;
}

.card-game:hover {
    background-color: #404242;
    transform: scale(1.02);
    transition: all 200ms;
    z-index: 100;
}

.big-text {
    font-size: 90px !important;
    line-height: 6rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-shadow: 7px 7px black;
}

.big-text-sm {
    font-size: 45px !important;
    line-height: 3.0rem !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: 7px 7px black;
}

.big-text-sm-mobile {
    font-size: 30px !important;
    line-height: 2.5rem !important;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-shadow: 7px 7px black;
}

.title-text {
    font-family: 'Dyna Puff' !important;
}

.description-text {
    font-family: 'Nunito' !important;
    font-size: medium;
}

.text-pixel {
    font-family: 'Rubik Pixels' !important;
}

.container {
    max-width: 780px !important;
}

.text-justify {
    text-align: justify;
}

.opacity-85 {
    opacity: 0.85;
}

.swal2-popup {
    // background-color: #161616 !important;
    background-color: rgb(33,37,41) !important;
    color: rgba($color: #ffffff, $alpha: 0.8) !important;
    border-radius: 20px !important;
    max-width: 95% !important;

    button {
        border-radius: 10px !important;
    }
}