input[type='text']{
    border: none;
    text-shadow: none;
    box-shadow: none;
    // background-color: #202121;
    // background-color: #404242;
    // color: white;
}

input[type='text']:focus{
    border: none !important;
    box-shadow: none !important;
}

button:hover {
    filter: brightness(1.3);
}

button:active {
    filter: brightness(0.9);
}

.bg-card {
    background-color: #202121;
}